<div class='detail-title'>
  <h1><%= kind %></h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='engagement-detail detail-content scrollable'>
  <div>
    <header>
      <h2><%= name || kind %></h2>
      <div class='engagement-school'><%= school %></div>
      <span><%= Date.parse(date).toString('MMM dd') %></span>
      <span><%= duration %> Hrs</span>
    </header>
    <div class='engagement-notes card'>
      <pre><%= notes || "No notes" %></pre>
    </div>
    <div class='engagement-attendance card attendance'>
      <h4>
        Attendees (<%= attendee_ids.length %>)
        <div class='icon-plus'></div>
      </h4>
    </div>
    <div class='engagement-media card upload'>
      <h4>
        Gallery
        <div class='icon-plus'></div>
      </h4>
    </div>
  </div>
</div>
