<div class='detail-title'>
  <h1><%= kind %></h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='engagement-detail detail-content scrollable'>
  <div>
    <div class="calendar-date">
      <div class="calendar-date-month"><%= shortmonth %></div>
      <div class="calendar-date-day"><%= day_of_month %></div>
    </div>
    <h6 class='engagement-name'><%= name || kind %></h6>
    <div class='engagement-school'><%= school %></div>
    <div class='engagement-duration'>
      <%= attendee_ids.length %> People, <%= duration %> Hours
    </div>
    <div class='engagement-notes'>
      <pre><%= notes %></pre>
    </div>
  </div>
</div>
