<div class='detail-title'>
  <h1><%= kind %></h1>
  <div class='l-menu'>
    <div class='button back'>Back</div>
  </div>
  <div class='r-menu'>
    <div class='button edit'>Edit</div>
  </div>
</div>
<div class='engagement-detail detail-content scrollable'>
  <div>
    <header>
      <h2><%= name || kind %></h2>
      <div class='engagement-school'><%= school %></div>
      <%= Date.parse(date).toString('MMM dd') %> | <%= duration %> Hrs
    </header>
    <div class='engagement-actions'>
      <div class='attendance button'>Take Attendance</div>
      <div class='upload button'>Upload Media</div>
    </div>
    <div class='engagement-notes'>
      <h6>Notes:</h6>
      <textarea class='editable' name='notes'><%= notes %></textarea>
    </div>
  </div>
</div>
