%hr 
= form_for @go_redirect do |f|
  - if @go_redirect.errors.any?
    #error_explanation
      %h2= "#{pluralize(@go_redirect.errors.count, "error")} prohibited this go_redirect from being saved:"
      %ul
        - @go_redirect.errors.full_messages.each do |msg|
          %li= msg

  .field
    .inline_field
      %strong http://go.dream.org/
      = f.text_field :shortcut, placeholder: 'awesomeness'
  .field
    %span Points to the follwing URL:
    = f.text_field :url, placeholder: 'http://somewhere-amazing.com/'
  .actions
    = f.submit 'Save'
