.logo= image_tag asset_path('tfplogo.svg')

%h1
  Nice-looking links
  %small= link_to 'Add new', new_go_redirect_path

%ul.redirects
  %li
    .label.redirect-shortcut Shortcut
    .label.redirect-url URL

  - @go_redirects.each do |go_redirect|
    %li[go_redirect]
      .redirect-shortcut
        = link_to 'Edit', edit_go_redirect_path(go_redirect), class: 'edit'
        /= link_to 'D', go_redirect, class: 'destroy', :method => :delete, :data => { :confirm => 'Are you sure?' }
        = link_to "go.dream.org/#{go_redirect.shortcut}", "http://go.dream.org/#{go_redirect.shortcut}"
      .redirect-url= link_to go_redirect.url, go_redirect.url


