%p#notice= notice

%p
  %b Shortcut:
  = @go_redirect.shortcut
%p
  %b Url:
  = @go_redirect.url
%p
  %b Hit count:
  = @go_redirect.hit_count

= link_to 'Edit', edit_go_redirect_path(@go_redirect)
\|
= link_to 'Back', go_redirects_path
