#feed-header
  %h1 Logbook
  %h2 Notes
.notes-container
  %ul.notes
    - @notes.each do |note|
      %li[note]{class: "note-#{note.kind}"}
        - if note.author
          .note-info
            .note-avatar
              = link_to image_tag(note.author.avatar), "/logbook/people/#{note.author.id}", target: "_blank"
            .note-date= note.created_at.strftime "%b %d"
            .note-author
              .note-author-name= link_to note.author.try(:name), "/logbook/people/#{note.author.id}", target: "_blank"
              .note-author-location= note.author.location_string
        .note-assets= render note.assets
        .note-content
          .note-subject= link_to note.notable.try(:name), url_for([:logbook, note.notable]), target: "_blank"
          = raw markdown(note.content)

  .next-page
    = link_to_next_page @notes, "Load More"
    .lb-loading

.note-viewer
