-if flash[:notice]
  .notice.success= flash[:notice]
.project
  %h1= @project.name
  .project-leaders.section
    %header Project Leads
    - @project.leaders.each do |p|
      =link_to p.name, person_path(p)
    - if @project.participants.any?
      %header Project Team
      - @project.participants.each do |p|
        =link_to p.name, person_path(p)
  .project-description.section
    %header
      Description
      =link_to "Edit", edit_project_path(@project) if current_user.leads_project?(@project)
    :markdown
      #{@project.description}
  .project-assets-form.section
    %header Assets
    - if current_user.leads_project?(@project)
      = s3_uploader_form callback_url: api_v1_assets_path, callback_param: "asset[external_url]", key:"uploads/#{SecureRandom.hex}-${filename}", class: 's3-uploader', data: { attachable_id: @project.id, attachable_type: "Project"} do
        = file_field_tag :file, multiple: true
        = render partial: 'application/s3_direct_upload_progress_bars'
    .project-assets.assets
      = render @project.assets
  .project-reflections.section
    %header
      Reflections
      =link_to("Add", new_reflection_path(project_id: @project.id))
    = render @project.student_reflections
