- if @person.errors.any?
  #error_explanation
    %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
    %ul
      - @person.errors.full_messages.each do |msg|
        %li= msg
=form_for [:logbook, @person] do |f|
  .row
    .field.g3
      = f.label :first_name
      = f.text_field :first_name, required: true
    .field.g3
      = f.label :last_name
      = f.text_field :last_name, required: true
    .field.g6
      = f.label :school_id, 'School'
      =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
  .row
    .field.g3
      = f.label :role
      =f.select :role, Person::ROLE_ENUM
    .field.g3
      = f.label :grade
      =f.select :grade, Person::GRADE_ENUM
    .field.g3
      = f.label :sex
      =f.select :sex, Person::SEX_ENUM, include_blank: true
    .field.g3
      = f.label :dream_team
      = f.select :dream_team, Person::DREAM_TEAM_ENUM
  .row
    .field.g6
      = f.label :email
      = f.text_field :email
    .field.g6
      = f.label :phone
      = f.text_field :phone
  .row
    .textarea
      = f.label :notes, 'Notes'
      = f.text_area :notes
  .row
    .actions
      = f.submit
