- cache ["v2", person] do
  %li[person]{class: ('dream_team' if person.dream_team) }
    .person-first-name= person.first_name
    .person-last-name= person.last_name
    .person-school= person.school.try(:name)
    .person-role= person.role
    .person-grade.number= person.grade || ' '
    .person-primary-projects.number= person.primary_projects.count
    .person-secondary-projects.number= person.secondary_projects.count
    .person-coaching-sessions.number= person.engagements.where(kind: 'Coaching Session').sum(:duration).round(2) rescue "N/A"
    .person-meetings.number= person.engagements.where(kind: 'Meeting').count
    .person-workshops.number= person.engagements.where(kind: 'Workshop').count
    .person-events.number= person.engagements.where(kind: 'Event').count
    .actions
      =link_to "View", logbook_person_path(person, scope_params), class: 'row-link'
      %a.edit{href: edit_logbook_person_path(person, scope_params), title: 'Edit'}
        %span.icon-pencil
      %a.delete{href: logbook_person_path(person), title: 'Delete', data: { confirm: "Are you sure you want to delete #{person.first_name}?", method: 'delete', remote: true}}
        %span.icon-x
