%li[person]
  .g1= person.first_name
  .g1= person.last_name
  .g1= person.school.try(:name)
  .g1= person.role
  .g1= person.grade || ' '
  .g1= person.primary_projects.count
  .g1= person.secondary_projects.count
  .g1= person.engagements.where(kind: 'Coaching Session').try(:sum, :duration)
  .g1= person.engagements.where(kind: 'Meeting').count
  .g1= person.engagements.where(kind: 'Workshop').count
  .g1= person.engagements.where(kind: 'Event').count
  .g1.actions
    %a{href: edit_logbook_person_path(person), title: 'Edit'}
      %span.octicon.octicon-pencil
    %a{href: logbook_person_path(person), title: 'Delete', data: { confirm: "Are you sure you want to delete #{person.first_name}?", method: 'delete', remote: true}}
      %span.octicon.octicon-x
