%li[person]
  .person-first-name= person.first_name
  .person-last-name= person.last_name
  .person-school= person.school.try(:name)
  .person-role= person.role
  .person-grade= person.grade || ' '
  .person-primary-projects= person.primary_projects.count
  .person-secondary-projects= person.secondary_projects.count
  .person-coaching-sessions= person.engagements.where(kind: 'Coaching Session').sum(:duration).round(2) rescue "N/A"
  .person-meetings= person.engagements.where(kind: 'Meeting').count
  .person-workshops= person.engagements.where(kind: 'Workshop').count
  .person-events= person.engagements.where(kind: 'Event').count
  .actions
    =link_to "View", logbook_person_path(person, scope_params), class: 'row-link'
    %a.edit{href: edit_logbook_person_path(person, scope_params), title: 'Edit'}
      %span.octicon.octicon-pencil
    %a.delete{href: logbook_person_path(person), title: 'Delete', data: { confirm: "Are you sure you want to delete #{person.first_name}?", method: 'delete', remote: true}}
      %span.octicon.octicon-x
