.page-header
  %h1.filtres-trigger
    = pluralize @people.total_count, "Person"
    = "in #{params[:in_grade]}th Grade" if params[:in_grade]
    = "on the Dream Team" if params[:in_group] == 'dream'
    = "(#{params[:in_group].capitalize}s)" if params[:in_group] && params[:in_group] != 'dream'
    %span.icon.icon-chevron-down
  .filtres
    .filtre.dream-team
      =link_to 'All', url_for(params.slice(:scope_id, :scope_type))
      =filter_link_to 'Dream Team', in_group: 'dream'
      =filter_link_to 'Students', in_group: 'student'
      =filter_link_to 'Teachers', in_group: 'teacher'
    .filtre.grades
      =filter_link_to '6', in_grade: '6'
      =filter_link_to '7', in_grade: '7'
      =filter_link_to '8', in_grade: '8'
      =filter_link_to '9', in_grade: '9'
      =filter_link_to '10', in_grade: '10'
      =filter_link_to '11', in_grade: '11'
      =filter_link_to '12', in_grade: '12'

.labels.person-labels
  .person-first-name=table_link_to 'first', sort: 'first_name'
  .person-last-name=table_link_to 'last', sort: 'last_name'
  .person-school=table_link_to 'school', sort: 'school_id'
  .person-role=table_link_to 'role', sort: 'role'
  .person-grade.number=table_link_to 'grade', sort: 'grade'
  .person-primary-projects.number=table_link_to 'Prj. Lead', with_projects: 'primary', sort: 'projects_count DESC'
  .person-secondary-projects.number=table_link_to 'Prj. Team', with_projects: 'secondary', sort: 'projects_count DESC'
  .person-coaching-sessions.number=table_link_to 'Coach Hrs', with_hours: 'Coaching Session', sort: 'engagement_hours DESC'
  .person-meetings.number=table_link_to 'Meetings', with_engagements: 'Meeting', sort: 'engagements_count DESC'
  .person-workshops.number=table_link_to 'Workshops', with_engagements: 'Workshop', sort: 'engagements_count DESC'
  .person-events.number=table_link_to 'Events', with_engagements: 'Event', sort: 'engagements_count DESC'

%ul.table.people= render @people
= paginate @people rescue nil
%section= page_entries_info @people
