.person-show.show-record[@person]{class: "#{'dream_team' if @person.dream_team}"}
  .button-actions
    =link_to "Edit", edit_logbook_person_path(@person), class: 'edit button'
  %header
    %h1= @person.name
  %section.person-info
    %h3= "#{@person.grade}th grade #{@person.role} at #{@person.school.try(:name)}"
    .person-email
      .icon.icon-mail
      = @person.email || "No Email"
    .person-phone
      .icon.icon-device-mobile
      = @person.phone || "No Phone"
  %section.person-projects
    %h3 Projects
    %ul.primary-projects= render @person.primary_projects
    %ul.secondary-projects= render @person.secondary_projects
- content_for :charts_js do
  %section.person-activity
    %h3.engagements-color Engagements
    #activities
      .row
        .g8
          - @person.graphable_engagements.each do |e|
            - e[:data].each do |d|
              %div{data: {date: d[0], duration: d[1], attendees: d[2], kind: e[:name] } }
        .g4= pie_chart @person.engagements.group(:kind).count, colors: Engagement::COLOR_ENUM

