.row
  .g9
    %h1 Viewing Person
  .g3
    %h1=link_to "Edit", edit_logbook_person_path(@person, scope_params)
.person
  .row
    .g3
      %label Name
      .fact= @person.name
    .g3
      %label School
      .fact= @person.school.try :name
    .g3
      %label Grade
      .fact= @person.grade
    .g3
      %label Role
      .fact= @person.role
  .row
    .g3
      %label Dream Team
      .fact= @person.dream_team ? "Yes" : "No"
    .g3
      %label Email
      .fact=@person.email
    .g3
      %label Phone
      .fact= @person.phone
    .g3
      %label Engagement Hours
      .fact= @person.engagements.sum(:duration)
  %hr
  .row
    .g6
      %label About
      .fact= @person.about
    .g6
      %label Your Notes
      .fact= @person.notes
  %hr
  .row
    %h3 Projects
  .row
    .g6
      %label Leading
      .fact= render @person.primary_projects
    .g6
      %label Supporting
      .fact= render @person.secondary_projects

  %hr
  .row
    %h3 Activity
  %ul.actions= render @person.actions
