- cache ['v7', @person] do
  .person-show.show-record[@person]{class: "#{'dream_team' if @person.dream_team}"}
    .button-actions
      =link_to "Edit", edit_logbook_person_path(@person), class: 'edit button'
    %header
      %h1.person-name
        = image_tag 'lil-arrow.png' if @person.dream_team
        = @person.name
    %section.person-info
      %h3
        - if @person.school
          = "#{@person.grade}th grade" if @person.grade
          = "#{@person.role} at #{@person.school.try(:name)}"
        - elsif @person.site
          = @person.site.name
      .person-email
        .icon.icon-mail
        = @person.email || "No Email"
      .person-phone
        .icon.icon-device-mobile
        = @person.phone || "No Phone"
    %section.person-projects
      %h3 Projects
      %ul.primary-projects= render @person.primary_projects
      %ul.secondary-projects= render @person.secondary_projects
    %section.person-activity
      %h3.engagements-color= "Engagements - #{@person.engagements.sum(:duration)} hours"
      .graph.bubble-graph{data: { url: engagements_bubble_graph_api_v1_person_path(@person) } }
