- cache ['v3', @person] do
  .person-show.show-record[@person]{class: "#{'dream_team' if @person.dream_team}"}
    .button-actions
      =link_to "Edit", edit_logbook_person_path(@person), class: 'edit button'
    %header
      %h1
        = image_tag 'lil-arrow.png' if @person.dream_team
        = @person.name
    %section.person-info
      %h3
        = "#{@person.grade}th grade" if @person.grade
        = "#{@person.role} at #{@person.school.try(:name)}"
      .person-email
        .icon.icon-mail
        = @person.email || "No Email"
      .person-phone
        .icon.icon-device-mobile
        = @person.phone || "No Phone"
    %section.person-projects
      %h3 Projects
      %ul.primary-projects= render @person.primary_projects
      %ul.secondary-projects= render @person.secondary_projects
    %section.person-activity
      %h3.engagements-color= "Engagements - #{@person.engagements.sum(:duration)} hours"
      #activities
      :javascript
        $(document).ready(function(){
          $('#activities').highcharts({
            credits: false,
            colors: #{Chartkick.options[:colors].last(4)},
            chart: {
              type: 'bubble',
              zoomType: 'x',
              backgroundColor: "#ffffff",
            },
            title: false,
            xAxis: {
              type: 'datetime',
            },
            yAxis: {
              title: {
                text: 'Duration (hrs)'
              }
            },
            legend: {
              layout: 'horizontal',
              verticalAlign: 'bottom',
            },
            plotOptions: {
              bubble: {
                tooltip: {
                  headerFormat: "{series.name}<br>",
                  pointFormat: "<b>{point.title}</b><br>{point.y} Hrs, {point.z} Attendees" +
                    "<br>{point.notes}"
                },
                events: {
                  click: function(event) {
                    path = "/logbook/engagements/" + event.point.id
                    path += "?scope_id=" + ds.CONSTANTS.scope.id + "&scope_type=" + ds.CONSTANTS.scope.type
                    location = path
                  }
                }
              }
            },
            series: #{JSON.dump(@person.graphable_engagements)}
          })
        })
