%li[project]
  .project-name= project.name
  .project-description= project.description
  .project-leaders= project.leaders.count
  .project-participants= project.participants.count
  .project-school= project.school.try :name
  .project-updated-at= project.updated_at.strftime "%D"
  .project-actions.actions
    = link_to 'View', logbook_project_path(project), class: 'view'
    = link_to 'Edit', edit_logbook_project_path(project), class: 'edit'
    = link_to 'Delete', logbook_project_path(project), data: { confirm: "Are you sure you want to delete #{project.name}?", method: 'delete'}, class: 'danger'
