- cache ['v', project] do
  %li[project]{class: project.status}
    .project-updated-at= project.updated_at.strftime "%D"
    .project-name= project.name
    .project-description= project.description
    .project-status= project.status
    .project-leaders
      = project.leaders.count
      = " - #{project.leaders.limit(3).pluck(:first_name).join(', ')}" if project.leaders.any?
    .project-participants
      = project.participants.count
      = " - #{project.participants.limit(3).pluck(:first_name).join(', ')}" if project.participants.any?
    .project-assets.number=project.assets.count
    .project-school= project.school.try :name
    .project-created-at= project.created_at.strftime "%D"
    .project-actions.actions
      = link_to 'View', logbook_project_path(project), class: 'row-link'
      %a.edit{href: edit_logbook_project_path(project), title: 'Edit'}
        %span.icon-pencil
      %a.delete{href: logbook_project_path(project), title: 'Delete', data: { confirm: "Are you sure you want to delete this project?", method: 'delete', remote: true}}
        %span.icon-x
