%li[project]
  .project-name= project.name
  .project-leaders
    - project.leaders.each do |p|
      = link_to p.name, logbook_person_path(p)
  .project-school= project.school.try :name
  .project-actions.actions
    = link_to 'View', logbook_project_path(project), class: 'view'
    = link_to 'Edit', edit_logbook_project_path(project), class: 'edit'
    = link_to 'Delete', logbook_project_path(project), data: { confirm: "Are you sure you want to delete #{project.name}?", method: 'delete'}, class: 'danger'
