.row
  .g9
    %h1= @project.name
  .g3
    %h1=link_to "Edit", edit_logbook_project_path(@project), class: 'edit'
.project
  .row
    .g3
      %label School
      .fact= @project.school.try :name
    .g3
      %label Description
      .fact= @project.description
    .g6
      %label MEDIA
      .fact
  %hr
  .row
    %h3 Leaders
  .row
    %ul.people= render @project.leaders
  .row
    %h3 Supporters
  .row
    %ul.people= render @project.participants
