.person-primary-projects
  %h6= "Leading #{pluralize @person.primary_projects.count, 'Project'}"
  -@person.primary_projects.each do |p|
    %span.project.needsclick{data: {id: p.id}}=p.name
.person-secondary-projects
  %h6= "Supporting #{pluralize @person.secondary_projects.count, 'Project'}"
  -@person.secondary_projects.each do |p|
    %span.project.needsclick{data: {id: p.id}}=p.name

%hr

%h6.collapsable-toggle
  %span.highlight= "#{pluralize(@person.logged_hours, 'Hour')}"
  in Engagements
.collapsable
  %table
    -@person.engagements.each do |e|
      %tr
        %th Date
        %th Kind
        %th Notes
      %tr.person-enagement
        %td.engagement-date= e.date.strftime "%b %d"
        %td.engagement-kind= e.kind
        %td= e.notes

%hr

.accordion
  .accordion-bar.person-reports
    %h6.accordion-heading= pluralize @person.reports.count, 'DD Report'
    %table
      -@person.reports.each do |r|
        %tr.person-reference
          %td=r.created_at.strftime "%b %d"
          %td=r.content

  .accordion-bar.person-testimonials
    %h6.accordion-heading= pluralize @person.testimonials.count, 'Teacher Testimonial'
    %table
      -@person.testimonials.each do |t|
        %tr.person-reference
          %td=t.content
          %td=t.source

  .accordion-bar.person-reflections
    %h6.accordion-heading= pluralize @person.student_reflections.count, 'Student Reflection'
    %table
      -@person.student_reflections.each do |r|
        %tr.person-reflection
          %td=r.created_at.strftime "%b %d"
          %td=r.content
