%h1= "Thanks, #{@person.first_name}"

=form_for @person do |f|
  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
    = f.submit "Next"
