%h1= "Hi, #{@person.first_name}."

%p Please select your school.

=form_for @person do |f|
  %ul.candidates
    - @candidates.each do |c|
      %li
        %label
          =f.radio_button :id, c.id
          .candidate-name=c.name
          .candidate-school=c.school.name
    %li
      %hr
    %li.last
      %label
        =f.radio_button :id, nil
        =@person.name
        =f.hidden_field :first_name
        =f.hidden_field :last_name
        = f.select :school_id, (School.all - @schools).sort!{|a,b| a.name <=> b.name }.map{|s| [s.name, s.id] }

  %hr
  %p You'll log in with your email address and a password you create:

  .field
    = f.label :email
    = f.text_field :email, required: true, placeholder: 'email'
  .field
    = f.label :password
    = f.password_field :password, required: true, placeholder: 'password'
  =f.submit 'Register'
