#people_detail.panel.list-detail
  .panel-title
    %h1 Showing Person
    .l-menu= link_to "Back", people_path
    .r-menu= link_to "Edit", edit_person_path(@person)
  .panel-body.scrollable.pad
    %h1= @person.name
    %ul.stats
      %li.stat
        %h1= @person.primary_projects.count
        %span= "primary #{'project'.pluralize(@person.primary_projects.count)}"
      %li.stat
        %h1= @person.secondary_projects.count
        %span= "secondary #{'project'.pluralize(@person.secondary_projects.count)}"
      %li.stat
        %h1= @person.workshops.count
        %span= "#{'workshop'.pluralize(@person.workshops.count)} attended"
      %li.stat
        %h1= @person.one_on_ones.sum(:duration).to_s
        %span hours in one-on-ones
    %hr
    %h3 One-on-Ones
    %fieldset
      =form_for OneOnOne.new do |f|
        .field
          =f.label :duration
          =f.select :duration, OneOnOne::DURATION_ENUM
        .field
          =f.label :note
          =f.text_field :note
          =f.hidden_field :person_id, value: @person.id
          =f.hidden_field :date, value: Date.today
        .field
          =f.submit "Log It"
    %table
      %tr
        %th Date
        %th Duration
        %th Note
      - @person.one_on_ones.each do |o|
        %tr
          %td=o.date.strftime "%D"
          %td=o.duration
          %td=o.note


#people_list.list
