-if flash[:notice]
  .notice.success= flash[:notice]
.person
  %h1= @person.name
  .person-projects.section
    %header
      Projects
      =link_to "Add", new_project_path if @person == current_user
    .person-primary-projects
      - if @person.primary_projects.any?
        %h6 Leading
        = render @person.primary_projects
      -else
        %p None yet
      - if @person.secondary_projects.any?
        %h6 Supporting
        = render @person.secondary_projects
  .person-about.section
    %header
      About
      =link_to "Edit", edit_person_path(@person) if @person == current_user
    .person-details
      %p.person-school
        %strong School:
        = @person.school.name rescue 'No School'
      %p.person-dream-director
        %strong Dream Director:
        = @person.school.dream_director.name rescue 'None'
      %p.person-grade
        %strong Grade:
        = @person.grade || "?"
    %strong About:
    - if !@person.about.blank?
      :markdown
        #{@person.about}

  .person-reflections.section
    %header
      Reflections
      =link_to "Add", new_reflection_path if @person == current_user
    = render @person.student_reflections
  .person-reports.section
    %header Dream Director Reports
    = render @person.reports
  .person-testimonials.section
    %header Testimonials
    = render @person.testimonials
