.panel
  .panel-title
    %h1 Showing Person
    .l-menu= link_to "Back", people_path
    .r-menu= link_to "Edit", edit_person_path(@person)
  .panel-body.scrollable.pad
    %h1= @person.name
    %p
      %b First name:
      = @person.first_name
    %p
      %b Last name:
      = @person.last_name
    %p
      %b Role:
      = @person.role
    %p
      %b School:
      = @person.school_id
    %p
      %b Grade:
      = @person.grade
    %p
      %b Core:
      = @person.core

