.page-header.schools-header
  %h1= "#{current_scope.dream_director.try(:name)}, DD"
  .school-facts
    .school-city
      %label City:
      = current_scope.site.try(:name)
    .school-chief
      %label Chief DD:
      = current_scope.site.try(:captain).try(:name)
    .school-enrollment
      %label current_scope Enrollment:
      = current_scope.enrollment
    .school-apprentices
      %label Apprentices:
      - users = current_scope.users.where.not(id: current_scope.dream_director.id).order(:id).map{|u| u.name }
      = users.join(', ')

.labels.school-labels
  .school-graph-nav-item
    Jump to:
  .school-graph-nav-item
    %a.active{href: "#", data: { unscoped: true }}
      %span.icon-mortar-board
      Context
  .school-graph-nav-item
    %a{href: "#current_scope-people", data: { unscoped: true }}
      %span.icon-ds-people
      People
  .school-graph-nav-item
    %a{href: "#current_scope-engagements", data: { unscoped: true }}
      %span.icon-ds-engagements
      Engagements
  .school-graph-nav-item
    %a{href: "#current_scope-projects", data: { unscoped: true }}
      %span.icon-ds-projects
      Projects

.row
  %section#people-in-context.g4.print-row
    .graph{data: { url: people_context_graph_api_v1_school_path(current_scope) } }
      .loading
  %section#engagements-in-context.g4
    .graph{data: { url: engagements_context_graph_api_v1_school_path(current_scope) } }
      .loading
  %section#projects-in-context.g4
    .graph{data: { url: projects_context_graph_api_v1_school_path(current_scope) } }
      .loading

%article#current_scope-people
  .row
    %h1 People
  .row
    %section#engagements-timeline.g6
      .graph{data: { url: people_timeline_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#hours-per-person.graph.g6{data: { url: hours_per_person_graph_api_v1_school_path(current_scope) } }
      .loading

  .row
    %section#people-projects.g4
      .graph{data: { url: people_projects_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#people-engagements.g4
      .graph{data: { url: engagement_percentage_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#notable-people.g4
      %h2 Notable people
      %hr
      %h3 Most Coached:
      %ul
        - current_scope.people.with_hours('Coaching Session').order('engagement_hours DESC').limit(3).each do |p|
          %li
            = link_to p.name.titlecase, logbook_person_path(p)
            = "- #{p.engagement_hours} hrs"
      %hr
      %h3 Most Engagements:
      %ul
        - current_scope.people.joins(:engagements).select("people.*, COUNT(engagements.id) as e_count").group('people.id').order('e_count DESC').limit(3).each do |p|
          %li
            = link_to p.name.titlecase, logbook_person_path(p)
            = "- #{p.e_count}"

%article#current_scope-engagements
  .row
    %h1= pluralize current_scope.engagements.count, "Engagement"

  .row
    .graph.bubble-graph{data: { url: engagement_bubbles_graph_api_v1_school_path(current_scope) } }
      .loading
  .row
    %section#person-hours.g4
      .graph{data: { url: logged_hours_graph_api_v1_school_path(current_scope) } }
        .loading

    %section#dd-hours.g4
      .graph{data: { url: program_hours_graph_api_v1_school_path(current_scope) } }
        .loading

    %section#engagement-counts.g4
      .graph{data: { url: engagement_counts_graph_api_v1_school_path(current_scope) } }
        .loading
  .row
    %section#rhythm.g4
      .graph{data: { url: weekly_rhythm_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#engagements-per-week.g4
      .graph{data: { url: engagements_per_week_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#notable-engagements.g4
      %h2 Notable engagements:
      %hr
      %h3 Longest:
      %ul
        - current_scope.engagements.where('duration IS NOT NULL').order('duration DESC').limit(3).each do |e|
          %li
            = link_to e.name, logbook_engagement_path(e)
            = "- #{e.date.strftime '%D'} - #{e.duration} hrs"
      %hr
      %h3 Largest:
      %ul
        - current_scope.engagements.where('headcount IS NOT NULL').order('headcount DESC').limit(3).each do |e|
          %li
            = link_to e.name, logbook_engagement_path(e)
            = "- #{e.date.strftime '%D'} - #{e.headcount} ppl"
      %hr
      %h3 With Media:
      %ul
        - current_scope.engagements.with_association('assets').order('assets_count DESC').limit(3).each do |e|
          %li
            = link_to e.name, logbook_engagement_path(e)
            = "- #{e.date.strftime '%D'} - #{e.assets_count} uploads"

%article#current_scope-projects
  .row
    %h1= pluralize current_scope.projects.count, "Project"

  .row
    .graph.bubble-graph{data: { url: projects_scatter_graph_api_v1_school_path(current_scope) } }
      .loading

  .row
    %section#projects-timeline.g8
      .graph{data: { url: projects_timeline_graph_api_v1_school_path(current_scope) } }
        .loading
    %section#notable-projects.g4
      %h2 Notable projects:
      %hr
      %h3 Largest:
      %ul
        - current_scope.projects.with_people.order('people_count DESC').limit(3).each do |p|
          %li
            = link_to p.name, logbook_project_path(p)
            = "- #{p.people_count} ppl"
      %hr
      %h3 With Media:
      %ul
        - current_scope.projects.with_association('assets').order('assets_count DESC').limit(3).each do |p|
          %li
            = link_to p.name, logbook_project_path(p)
            = "- #{p.assets_count} uploads"
      %hr
      %h3 With Notes:
      %ul
        - current_scope.projects.with_association('notes').order('notes_count DESC').limit(3).each do |p|
          %li
            = link_to p.name, logbook_project_path(p)
            = "- #{p.notes_count} notes"
