.page-header
  %h1= @school.name
  %br

.row
  %h1 Engagements
  #engagement-bubbles
  :javascript
    $(document).ready(function(){
      $('#engagement-bubbles').highcharts({
        credits: false,
        colors: #{Engagement::COLOR_ENUM},
        chart: {
          type: 'bubble',
          zoomType: 'x',
          backgroundColor: "#ffffff",
        },
        title: false,
        xAxis: {
          type: 'datetime',
        },
        yAxis: {
          title: {
            text: 'Duration (hrs)'
          }
        },
        legend: {
          layout: 'horizontal',
          verticalAlign: 'bottom',
        },
        plotOptions: {
          bubble: {
            tooltip: {
              headerFormat: "{series.name}<br>",
              pointFormat: "<b>{point.title}</b><br>{point.y} Hrs, {point.z} Attendees" +
                "<br>{point.notes}"
            },
            events: {
              click: function(event) {
                path = "/logbook/engagements/" + event.point.id
                path += "?scope_id=" + ds.CONSTANTS.scope.id + "&scope_type=" + ds.CONSTANTS.scope.type
                location = path
              }
            }
          }
        },
        series: #{JSON.dump(@school.graphable_engagements)}
      })
    })
.row
  %section#person-hours.g4
    %h2= "#{number_with_delimiter(@school.person_hours)} Student Engagement Hours"
    .graph#person-hours-graph
      = pie_chart @person_hrs, colors: Engagement::COLOR_ENUM, library: @chart_options

  %section#dd-hours.g4
    %h2= "#{number_with_delimiter(@school.engagements.sum(:duration))} DD Engagement Hours"
    .graph#person-hours-graph
      = pie_chart @dd_hrs, colors: Engagement::COLOR_ENUM, library: @chart_options

  %section#engagement-counts.g4
    %h2= "#{number_with_delimiter @school.engagements.count} Engagements"
    .graph#engagement-counts-graph
      = pie_chart @engagement_counts, colors: Engagement::COLOR_ENUM, library: @chart_options

.row
  %section#rhythm.g4
    %h2 Engagements by Day of Week
    = bar_chart @weekly_engagements, colors: Engagement::COLOR_ENUM, library: @chart_options.merge({ yAxis: { title: { text: "Engagements (count)" } }, xAxis: {title: {text: "Day" } } })

  %section#engagements-by-duration.g4
    %h2 Engagements by Duration
    .graph
      = bar_chart @engagements_by_size, colors: Engagement::COLOR_ENUM, library: @chart_options.merge({ yAxis: { title: { text: "Engagements (count)" } }, xAxis: {title: {text: "Duration (hrs)" } } })

  %section#engagement-percentage.g4
    %h2 Engagement Percentage
    .graph
      %span % of school actively engaged
      %span % of school passsively engaged

.row
  %section#projects.g4
    %h2= "#{@school.projects.count} Projects"
    .project-data= pie_chart @projects, library: @chart_options

