.page-header.school-header
  %h1= @school.name
  .school-facts
    .school-dd
      %label Dream Director:
      = @school.dream_director.try(:name)
    .school-city
      %label City:
      = @school.site.try(:name)
    .school-chief
      %label Chief DD:
      = @school.site.try(:captain).try(:name)
    .school-enrollment
      %label School Enrollment:
      = @school.headcount
    .school-users
      %label Users:
      - @school.users.order(:id).each do |user|
        = "#{user.name}, #{user.role};"
.labels.school-labels
  .school-graph-nav-item
    %a.active{href: "#", data: { unscoped: true }} Context
  .school-graph-nav-item
    %a{href: "#school-people", data: { unscoped: true }} People
  .school-graph-nav-item
    %a{href: "#school-engagements", data: { unscoped: true }} Engagements
  .school-graph-nav-item
    %a{href: "#school-projects", data: { unscoped: true }} Projects
.row
  %section#school-in-context
    %h1 School data in context:
    .graph= bar_chart @school_in_context, colors: [Engagement::COLOR_ENUM[0], Project::COLOR_ENUM[0], Person::COLOR_ENUM].flatten, library: @chart_options

.row#school-people
  %h1 People
.row
  #people-bubbles
  = render partial: 'logbook/people/bubbles', locals: { container: '#people-bubbles', colors: Person::COLOR_ENUM, data: Person.as_bubbles(@school.people) }

.row
  %section#people-projects.g4
    %h2= "#{@people_with_projects['Leading'] + @people_with_projects['Just Supporting']} people have projects."
    .graph= pie_chart @people_with_projects, colors: Person::COLOR_ENUM, library: @chart_options
  %section#people-engagements.g4
    %h2= "#{@people_at_engagements['Engaged']} people attended an engagement."
    .graph= pie_chart @people_at_engagements, colors: [Person::COLOR_ENUM[0], Person::COLOR_ENUM[2]], library: @chart_options
  %section#notable-engagements.g4
    %h2 Notable people:
    %p Most Engagements, Most Projects, Most Coached

.row#school-engagements
  %h1= pluralize @school.engagements.count, "Engagement"

.row
  #engagement-bubbles
  = render partial: 'logbook/engagements/bubbles', locals: { container: '#engagement-bubbles', colors: Engagement::COLOR_ENUM, data: Engagement.as_bubbles(@school.engagements) }
.row
  %section#person-hours.g4
    %h2= "Students logged #{number_with_delimiter(@school.person_hours)} hours."
    .graph#person-hours-graph
      = pie_chart @person_hrs, colors: Engagement::COLOR_ENUM, library: @chart_options

  %section#dd-hours.g4
    %h2= "TFP offered #{number_with_delimiter(@school.engagements.sum(:duration).to_i)} program hours..."
    .graph#person-hours-graph
      = pie_chart @dd_hrs, colors: Engagement::COLOR_ENUM, library: @chart_options

  %section#engagement-counts.g4
    %h2= "... split across #{@school.engagements.count} engagements."
    .graph#engagement-counts-graph
      = pie_chart @engagement_counts, colors: Engagement::COLOR_ENUM, library: @chart_options

.row
  %section#rhythm.g4
    %h2 The weekly rhythm at this school:
    = bar_chart @weekly_engagements, colors: Engagement::COLOR_ENUM, library: @chart_options.merge({ yAxis: { title: { text: "Engagements (count)" } }, plotOptions: { series: { stacking: true }}})
  %section#engagements-in-context.g4
    %h2 Engagements here vs elsewhere:
    .graph= bar_chart @engagements_in_context, colors: Engagement::COLOR_ENUM, library: @chart_options.merge({ yAxis: { title: { text: "Engagements (count)" } } })
  %section#notable-engagements.g4
    %h2 Notable engagements:
    %p Longest, Largest, With Media

.row#school-projects
  %h1= pluralize @school.projects.count, "Project"

.row
  #project-bubbles
  = render partial: 'logbook/projects/bubbles', locals: { container: '#project-bubbles', colors: Project::COLOR_ENUM, data: Project.as_bubbles(@school.projects) }

.row
  %section#projects.g4
    %h2 Projects by status:
    .project-data= pie_chart @projects, library: @chart_options

  %section#projects-in-context.g4
    %h2 Projects here vs elsewhere:
    .graph= bar_chart @projects_in_context, colors: Project::COLOR_ENUM, library: @chart_options.merge({ yAxis: { title: { text: "Projects (count)" } } })

  %section#notable-engagements.g4
    %h2 Notable projects:
    %p Largest, With Media, Most Notes
