.page-header.school-header
  %h1= "#{@school.dream_director.try(:name)}, DD"
  .school-facts
    .school-city
      %label City:
      = @school.site.try(:name)
    .school-chief
      %label Chief DD:
      = @school.site.try(:captain).try(:name)
    .school-enrollment
      %label School Enrollment:
      = @school.enrollment
    .school-apprentices
      %label Apprentices:
      - users = @school.users.where.not(id: @school.dream_director.id).order(:id).map{|u| u.name }
      = users.join(', ')

.labels.school-labels
  .school-graph-nav-item
    %a.active{href: "#", data: { unscoped: true }} Context
  .school-graph-nav-item
    %a{href: "#school-people", data: { unscoped: true }} People
  .school-graph-nav-item
    %a{href: "#school-engagements", data: { unscoped: true }} Engagements
  .school-graph-nav-item
    %a{href: "#school-projects", data: { unscoped: true }} Projects

.row
  %section#school-in-context
    %h1 School data in context:
    /= bar_chart @school.data_for_context_graph, colors: [Engagement::COLOR_ENUM[0], Project::COLOR_ENUM[0], Person::COLOR_ENUM].flatten, library: @chart_options

.row#school-people
  %h1 People

.row
  #people-bubbles
  = render partial: 'logbook/people/bubbles', locals: { container: '#people-bubbles', colors: Person::COLOR_ENUM, data: Person.as_bubbles(@school.people) }

.row
  %section#people-projects.g4
    .graph{data: { url: people_projects_graph_api_v1_school_path(@school) } }
  %section#people-engagements.g4
    .graph{data: { url: engagement_percentage_graph_api_v1_school_path(@school) } }
  %section#notable-engagements.g4
    %h2 Notable people
    %hr
    %h3 Most Coached:
    %ul
      - @school.people.with_hours('Coaching Session').order('engagement_hours DESC').limit(3).each do |p|
        %li.person-name= link_to "#{p.name} (#{p.engagement_hours} hrs)", logbook_person_path(p)
    %hr
    %h3 Most Engagements:
    %ul
      - @school.people.joins(:engagements).select("people.*, COUNT(engagements.id) as e_count").group('people.id').order('e_count DESC').limit(3).each do |p|
        %li.person-name= link_to "#{p.name} (#{p.e_count})", logbook_person_path(p)

.row#school-engagements
  %h1= pluralize @school.engagements.count, "Engagement"

.row
  #engagement-bubbles
  = render partial: 'logbook/engagements/bubbles', locals: { container: '#engagement-bubbles', colors: Engagement::COLOR_ENUM, data: Engagement.as_bubbles(@school.engagements) }
.row
  %section#person-hours.g4
    .graph{data: { url: logged_hours_graph_api_v1_school_path(@school) } }

  %section#dd-hours.g4
    .graph{data: { url: program_hours_graph_api_v1_school_path(@school) } }

  %section#engagement-counts.g4
    .graph{data: { url: engagement_counts_graph_api_v1_school_path(@school) } }

.row
  %section#rhythm.g4
    .graph{data: { url: weekly_rhythm_graph_api_v1_school_path(@school) } }
  %section#engagements-in-context.g4
    .graph{data: { url: engagements_context_graph_api_v1_school_path(@school) } }
  %section#notable-engagements.g4
    %h2 Notable engagements:
    %p Longest, Largest, With Media

.row#school-projects
  %h1= pluralize @school.projects.count, "Project"

.row
  #project-bubbles
  = render partial: 'logbook/projects/bubbles', locals: { container: '#project-bubbles', colors: Project::COLOR_ENUM, data: Project.as_bubbles(@school.projects) }

.row
  %section#projects.g4
    %h2 Projects by status:
    .project-data= pie_chart @school.projects.group(:status).count, library: @chart_options.merge({plotOptions:{pie:{size: '70%'}}})

  %section#projects-in-context.g4
    .graph{data: { url: projects_context_graph_api_v1_school_path(@school) } }

  %section#notable-engagements.g4
    %h2 Notable projects:
    %p Largest, With Media, Most Notes
