<h1>New person</h1>

<form id="new-person" name="person">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="role"> role:</label>
    <input type="text" name="role" id="role" value="<%= role %>" >
  </div>

  <div class="field">
    <label for="school_id"> school_id:</label>
    <input type="text" name="school_id" id="school_id" value="<%= school_id %>" >
  </div>

  <div class="field">
    <label for="grade"> grade:</label>
    <input type="text" name="grade" id="grade" value="<%= grade %>" >
  </div>

  <div class="field">
    <label for="core"> core:</label>
    <input type="text" name="core" id="core" value="<%= core %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Person" />
  </div>

</form>

<a href="#/index">Back</a>