<div id="people-detail" class="detail detail-with-toolbar">
  <div class='detail-toolbar'>
    <div class='detail-toolbar-title'>Showing Person</div>
    <div class='r-menu'>
      <button><span class='octicon octicon-pencil'></span> Edit</button>
    </div>
  </div>
  <div class='detail-content'>
    <h1><%= first_name %> <%= last_name %></h1>

    <p>
      <b>Role:</b>
      <%= role %>
    </p>

    <p>
      <b>Grade:</b>
      <%= grade %>
    </p>

    <div class='unit'>
      <label for="core" class='inline-label'>Core:</label>
      <label class="label-switch">
        <input id="core" name="core" type="checkbox" value="<%= core %>" <% if(core) { %>checked<% } %>>
        <div class="checkbox"></div>
      </label>
    </div>
  </div>
</div>



<a href="/bluebook/people/index">Back</a>
