#people_detail.panel.list-detail
  .panel-title
    %h1 Showing Person
    .l-menu= link_to "Back", cic_school_path(@person.school)
  .panel-body.scrollable.pad
    %h1= @person.name
    %ul.stats
      %li.stat
        %h1= @person.primary_projects.count
        %span= "primary #{'project'.pluralize(@person.primary_projects.count)}"
      %li.stat
        %h1= @person.secondary_projects.count
        %span= "secondary #{'project'.pluralize(@person.secondary_projects.count)}"
      %li.stat
        %h1= @person.workshops.count
        %span= "#{'workshop'.pluralize(@person.workshops.count)} attended"
      %li.stat
        %h1= @person.one_on_ones.sum(:duration).to_s
        %span hours in one-on-ones
    %hr
    %h5 Activity
    - @person.actions.each do |a|
      %p
        =link_to a.what, [:logbook, a.subject]
        = a.day.strftime("%D")

#people_list.list
