.titlebar
  .title= @site.name
  .subtitle
    = "- #{@site.captain.try(:name)}, Chief"

.table
  %table
    %thead
      %tr
        %th
        %th Schools
        %th Enrollment
        %th Ppl Engaged
        %th Person Hrs
        %th Ppl w/Projects
    %tbody
      %tr
        %th= @site.name
        %td= @site.schools.count
        %td= number_with_delimiter @site.enrollment
        %td= number_with_delimiter @site.engaged_people_estimate
        %td= number_with_delimiter @site.person_hours
        %td= number_with_delimiter @site.people_with_projects
      - Site.where.not(id: @site.id).order(:name).each do |site|
        %tr
          %th= site.name
          %td= site.schools.count
          %td= number_with_delimiter site.enrollment
          %td= number_with_delimiter site.engaged_people_estimate
          %td= number_with_delimiter site.person_hours
          %td= number_with_delimiter site.people_with_projects

      - @site.schools.order(:name).each do |site|
        %tr
          %th= site.name
          %td= site.schools.count
          %td= number_with_delimiter site.enrollment
          %td= number_with_delimiter site.engaged_people_estimate
          %td= number_with_delimiter site.person_hours
          %td= number_with_delimiter site.people_with_projects


.graph{data: { url: projects_timeline_graph_api_v1_site_path(@site) } }
  .loading
.graph{data: { url: engagements_per_week_graph_api_v1_site_path(@site) } }
  .loading
