- cache ['v1', engagement] do
  %li[engagement]
    .engagement-date= engagement.date.try :strftime, "%D"
    .engagement-kind= engagement.kind
    .engagement-name= engagement.name
    .engagement-attendees.number= engagement.attendees.count
    .engagement-duration.number= engagement.duration.try(:round, 2)
    .engagement-school= engagement.school.try(:name)
    .engagement-actions.actions
      =link_to "View", logbook_engagement_path(engagement), class: 'row-link'
      %a.edit{href: edit_logbook_engagement_path(engagement), title: 'Edit'}
        %span.icon-pencil
      %a.delete{href: logbook_engagement_path(engagement), title: 'Delete', data: { confirm: "Are you sure you want to delete this #{engagement.kind}?", method: 'delete', remote: true}}
        %span.icon-x
