%li[engagement]
  .engagement-date= engagement.date.try :strftime, "%D"
  .engagement-kind= engagement.kind
  .engagement-name= engagement.name
  .engagement-duration= engagement.duration.try(:round, 2)
  .engagement-school= engagement.school.try(:name)
  .engagement-actions.actions
    = link_to 'View', logbook_engagement_path(engagement), class: 'view'
    = link_to 'Edit', edit_logbook_engagement_path(engagement), class: 'edit'
    = link_to 'Delete', logbook_engagement_path(engagement), data: { confirm: "Are you sure you want to delete this #{engagement.kind}?", method: 'delete'}, class: 'danger', remote: true
