.page-header
  %h1 Engagements

.labels.engagement-labels
  .engagement-date= link_to_unless_current "Date", scoped_url_for(sort: 'date DESC')
  .engagement-kind= link_to_unless_current "Kind", scoped_url_for(sort: 'kind')
  .engagement-name= link_to_unless_current "Name", scoped_url_for(sort: 'name')
  .engagement-attendees= link_to_unless_current "Attendees", scoped_url_for(with_attendees: 'people', sort: 'people_count DESC')
  .engagement-duration= link_to_unless_current "Hours", scoped_url_for(sort: 'duration DESC')
  .engagement-school= link_to_unless_current "School", scoped_url_for(sort: 'school_id')

%ul.table.engagements= render @engagements
=paginate @engagements rescue nil
