=render(partial: 'search_results', locals: {collection: @engagements}) if params[:q]

.row.search-add
  .g6.search
    %label Search
    %form{action: logbook_engagements_path, method: 'GET'}
      %input{name: 'q', type: 'text', placeholder: 'Search...'}
      %input{type: 'submit', value: 'Search'}
  .g6.add
    %label Add
    = form_for [:logbook, @engagement] do |f|
      .engagement-kind
        =f.select :kind, Engagement::KIND_ENUM
      .engagement-school
        =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
      .engagement-duration
        =f.select :duration, Engagement::DURATION_ENUM
      .engagement-actions
        = f.hidden_field :date, value: Date.today
        = f.submit "Add"

%ul.engagements
  %li.labels.engagement
    .engagement-date= link_to_unless_current "Date", url_for(sort: 'date DESC')
    .engagement-kind= link_to_unless_current "Kind", url_for(sort: 'kind')
    .engagement-name= link_to_unless_current "Name", url_for(sort: 'name')
    .engagement-duration= link_to_unless_current "Hours", url_for(sort: 'duration')
    .engagement-school= link_to_unless_current "School", url_for(sort: 'school_id')
    .engagement-actions Actions
  = render @engagements
=paginate @engagements rescue nil
