.page-header
  %h1= pluralize @engagements.total_count, "Engagement"

.labels.engagement-labels
  .engagement-date= table_link_to "Date", user_sort: 'date DESC'
  .engagement-kind= table_link_to "Kind", user_sort: 'kind'
  .engagement-name= table_link_to "Name", user_sort: 'name'
  .engagement-attendees.number= table_link_to "Attendees", with_attendees: 'people', user_sort: 'people_count DESC'
  .engagement-duration.number= table_link_to "Hours", user_sort: 'duration DESC'
  .engagement-school= table_link_to "School", user_sort: 'school_id'

%ul.table.engagements= render @engagements
=paginate @engagements rescue nil
%section= page_entries_info @engagements
