.row
  .g9
    %h1
      = @engagement.kind
      = @engagement.date.try :strftime, "%D"
  .g3
    %h1
      =link_to "Edit", edit_logbook_engagement_path(@engagement), class: 'edit'
      =link_to "Duplicate", duplicate_logbook_engagement_path(@engagement)
.engagement
  .row
    .g3
      %label Name
      .fact= @engagement.name
    .g3
      %label School
      .fact= @engagement.school.try :name
    .g3
      %label Notes
      %pre= @engagement.notes
    .g3
      %label MEDIA
      %ul.assets=render @engagement.assets

  %hr
  .row
    %h3 Attendees
  %ul.people= render @engagement.attendees
