#sidebar
    = nav_link_to "<span class='mega-octicon octicon-dashboard'></span> Home", logbook_root_url, 'logbook_home_tab'
    = nav_link_to "<span class='mega-octicon octicon-checklist'></span> Tasks", logbook_task_assignments_path, 'logbook_task_assignments_tab'
    = nav_link_to "<span class='mega-octicon octicon-organization'></span> People", logbook_people_path, 'logbook_people_tab'
    = nav_link_to "<span class='mega-octicon octicon-rocket'></span> Projects", logbook_projects_path, 'logbook_projects_tab'
    = nav_link_to "<span class='mega-octicon octicon-podium'></span> Engagements", logbook_engagements_path, 'logbook_engagements_tab'
