.list-container
  #activity_feed.list
    .list-title
      %h1 Activity
    .list-body.scrollable
      %ul.activity_feed
        - @actions.group_by(&:day).each do |day, actions|
          %li
            .activity_day= day.strftime("%A, %B %d")
            %ul
              - actions.each do |action|
                %li.list-item[action]
                  .action_sentence
                    .action_who=action.who
                    .action_what=action.what
                  .action_detail
                    =action.detail

.detail-container
  #schools_overview.panel.list-detail{style: 'display: block;' }
    .panel-title
      %h1= "Schools in #{@site.name}"
    .panel-body.scrollable.pad
      %ul.school_stats
        - @schools.each do |school|
          %li[school]
            %table
              %colgroup
                %col
                %col
              %tr
                %th{colspan: 2}= school.name
              %tr
                %td Projects
                %td= school.projects.count
              %tr
                %td Project Leaders
                %td= school.project_leaders.count
              %tr
                %td Engagements
                %td= school.engagements.count
              %tr
                %td Chairs Filled
                %td= school.engagement_attendees.count
              %tr
                %td Time Coaching
                %td= school.one_on_ones.sum(:duration).to_s

