%h1 Weekly Log Entries
#weekly_log_entries
  %div{id: ("entries_filed" if @people.length != @people_filed.length)}
    %table
      - @people_filed.each do |p|
        %tr
          %td= p.name
          %td= p.last_log.attended_meeting ? 'Attended' : 'Absent'
          %td= p.last_log.quality

  - if @people_left.any?
    #entries_to_file
      =form_for @weekly_log_entry do |f|
        %table
          %tr
            %th Name
            %th Attended
            %th Engagement
            %th
          - @people_left.each_with_index do |p,i|
            %tr
              - if i == 0
                %tr
                  %td= p.name
                  %td=f.check_box :attended_meeting

                  =f.hidden_field :person_id, value: p.id
                  =f.hidden_field :user_id, value: current_user.id
                  %td
                    %table.no-borders
                      %tr
                        %td=f.radio_button :quality, '1', value: 1
                        %td=f.radio_button :quality, '2', value: 2
                        %td=f.radio_button :quality, '3', value: 3
                        %td=f.radio_button :quality, '4', value: 4
                        %td=f.radio_button :quality, '5', value: 5
                      %tr
                        %td=f.label :quality, 1, value: 1
                        %td=f.label :quality, 2, value: 2
                        %td=f.label :quality, 3, value: 3
                        %td=f.label :quality, 4, value: 4
                        %td=f.label :quality, 5, value: 5
                  %td.last= f.submit "Log It", disable_with: 'Logging...'
              - else
                %td{colspan: 4}= p.name
