.panel
  .panel-title
    %h1= "Hi, #{current_user.first_name}."
  .panel-body.scrollable.pad
    %h4 Impact Stats
    %table
      %tr
        %th
        %th You
        %th Site Avg
        %th National Avg
      %tr
        %td
          %h6 Projects
        %td= current_user.projects.count
        %td= current_user.site.average(:projects) if current_user.site
        %td= National.average(:projects)
      %tr
        %td
          %h6 Project Leaders
        %td= current_user.people.joins(:project_leaders).uniq.count
        %td= current_user.site.average(:project_leaders) if current_user.site
        %td= National.average(:project_leaders)
      %tr
        %td
          %h6 Project Participants
        %td= current_user.people.joins(:project_participants).uniq.count
        %td= current_user.site.average(:project_participants) if current_user.site
        %td= National.average(:project_participants)
      %tr
        %td
          %h6 One-on-Ones
        %td= current_user.one_on_ones.count
        %td= current_user.site.average(:one_on_ones) if current_user.site
        %td= National.average(:one_on_ones)
      %tr
        %td
          %h6 Time Coaching
        %td= current_user.one_on_ones.sum(:duration).to_s
        %td= current_user.site.average(:one_on_ones, :duration) if current_user.site
        %td= National.average(:one_on_ones, :duration)
      %tr
        %td
          %h6 Workshops
        %td= current_user.workshops.count
        %td= current_user.site.average(:workshops) if current_user.site
        %td= National.average(:workshops)
      %tr
        %td
          %h6 Workshop Attendees
        %td= current_user.workshop_attendees.count
        %td= current_user.site.average(:workshop_attendees) if current_user.site
        %td= National.average(:workshops)

