%h1= @user.name
- if @user.captain?
  %table
    %tr
      %th
      - @user.site.dream_directors.each do |u|
        %th= u.first_name
      %th Site
      %th National
    %tr
      %th Engagement
      - @user.site.dream_directors.each do |u|
        %td= u.engagement_score
      %td= @user.site.engagement_score
      %td= Stat.engagement_score

- else
  %table
    %tr
      %th
      %th Personal
      %th Site
      %th National
    %tr
      %th Engagement
      %td= @user.engagement_score
      %td= @user.site.engagement_score
      %td= Stat.engagement_score

