%h1= "Welcome, #{@person.first_name}."
%p Please confirm your city and school.

= form_for current_user, { url: my_profile_path }  do |f|
  .field
    = f.label :site_id, "City"
    = f.select :site_id, Site.order(:name).collect{|p| [p.name, p.id] }, include_blank: "National"
  .field
    = f.label :school_id, "School"
    = f.select :school_id, School.order(:name).collect{|p| [p.name, p.id] }, include_blank: "No School"
  .field
    = f.submit "Confirm Location"

