<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Person</h1>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h2><%= first_name %> <%= last_name %></h2>
    <h6><%= grade%>th grade<%= dream_team ? " Dream Team " : " " %><%= role %></h6>
    <textarea id='person_notes' placeholder='Notes (private)'><%= notes %></textarea>
    <div class='person-actions'>
      <nav>
        <h6>Add a new (student-visible!):</h6>
        <button class='show-new-report'><span class='octicon octicon-pencil'></span> DD Report</button>
        <button class='show-new-testimonial'><span class='octicon octicon-quote'></span> Testimonial</button>
        <button class='show-new-reflection'><span class='octicon octicon-person'></span> Reflection</button>
      </nav>
      <form id="new_report" method="post">
        <h6 class='alert'>New DD Report (Student-visible!)</h6>
        <label>Report</label>
        <textarea required id="report_content" name="content" placeholder="50-200 words"></textarea>
        <button class='cancel'>Cancel</button>
        <input class='student-visible' name="commit" type="submit" value="Save Report">
      </form>
      <form id="new_testimonial" method="post">
        <h6 class='alert'>New Teacher Testimonial (Student-visible!)</h6>
        <label>Testimonial</label>
        <textarea required id="report_content" name="content" placeholder="50-200 words"></textarea>
        <label>Source</label>
        <input required type="text" name="source" placeholder="(Teacher's name)">
        <button class='cancel'>Cancel</button>
        <input class='student-visible' name="commit" type="submit" value="Save Testimonial">
      </form>
      <form id="new_reflection" method="post">
        <h6 class='alert'>New Student Reflection (Student-visible!)</h6>
        <textarea required id="reflection_content" name="content" placeholder="50-200 words"></textarea>
        <button class='cancel'>Cancel</button>
        <input class='student-visible' name="commit" type="submit" value="Save Reflection">
      </form>
      <div class='notice success'>Saved!</div>
    </div>
    <hr>
    <div id='person-stats'>
      <p>Connect to the internet to see more information about <%= first_name %></p>.
    </div>
  </div><!-- panel-body -->
</div>
