<div class='panel list-detail'>
  <div class='panel-title'>
    <h1>Showing Person</h1>
    <div class="r-menu">
      <a class='edit' href="#edit">Edit</a>
    </div>
  </div>

  <div class="panel-body scrollable pad">
    <h1><%= first_name %> <%= last_name %></h1>
    <h6><%= grade%>th grade<%= dream_team ? " Dream Team " : " " %><%= role %></h6>
    <hr />
    <h6>Notes:</h6>
    <textarea id='person_notes'><%= notes %></textarea>
    <ul class="stats">
      <li class="stat">
      <h1 id='primary_projects_count'>0</h1>
      <span>primary projects</span>
      </li>
      <li class="stat">
      <h1 id='secondary_projects_count'>0</h1>
      <span>secondary projects</span>
      </li>
      <li class="stat">
      <h1 id='workshops_attended_count'>0</h1>
      <span>workshops attended</span>
      </li>
      <li class="stat">
      <h1 id='hours_coached'>0.0</h1>
      <span>hours in one-on-ones</span>
      </li>
    </ul>
    <hr />
    <h5>New One-on-One</h5>
    <form class="quick_add" id="new_one_on_one" method="post">
      <div class="quick_primary_inputs">
        <input id="one_on_one_note" name="note" placeholder="Description (kept private - only you see this)" type="text" />
      </div>
      <div class="quick_secondary_inputs">
        <input name='date' type='date' value='<%= new Date().toString('yyyy-MM-dd') %>' />
        <label for="one_on_one_duration">for</label>
        <select id="one_on_one_duration" name="duration">
          <option value="0.25">15 mins</option>
          <option value="0.5">30 mins</option>
          <option value="1">1 hr</option>
          <option value="1.5">1.5 hrs</option>
          <option value="2.0">2 hrs</option>
          <option value="3.0">3 hrs</option>
        </select>
        <input name="commit" type="submit" value="Log It">
      </div>
    </form>
    <table class='one_on_ones'>
      <colgroup>
        <col>
        <col>
        <col>
      </colgroup>
      <tr>
        <th>Date</th>
        <th>Hours</th>
        <th>Note</th>
      </tr>
    </table>
  </div><!-- panel-body -->
</div>
