%h3 Upload Photos
= s3_uploader_form callback_url: '/api/v1/assets', callback_param: "asset[external_url]", key:"uploads/#{SecureRandom.hex}-${filename}", class: 's3-uploader', data: { attachable_id: @engagement.id, attachable_type: "Engagement"} do
  = file_field_tag :file, multiple: true
  = render partial: 'application/s3_direct_upload_progress_bars.html'
.engagement-assets.assets.section
  - @engagement.assets.each do |asset|
    .asset
      =link_to image_tag(asset.thumbnail), asset.data(:original)
      .asset-caption= asset.caption
