<header class="profile-header">
    <div class="profile-avatar">
      <img src="<%= person.avatar %>" alt="<%= person.first_name %>" />
    </div>
    <div class="profile-info">
      <h1><%= person.first_name %> <%= person.last_name %></h1>
      <p><%= person.role %>, <%=person.school_name %></p>
    </div>
</header>
