<ul class="facts">
  <li>
    <h1><%= person.first_name %> <%= person.last_name %></h1>
  </li>
  <li class="fact">
    <label>Role</label>
    <%= person.role %>
  </li>
  <li class="fact">
    <label>Grade</label>
    <%= person.grade %>
  </li>
  <li class="fact">
    <label>Dream Team</label>
    <%= person.dream_team %>
  </li>
  <li class="fact">
    <label>School</label>
    <%= person.school_name %>
  </li>
  <li class="fact">
    <label>DD</label>
    <%= person.dd %>
  </li>
</ul>
