<div class='list-item-title'><%= first_name %> <%= last_name %></div>
<div class='list-item-subject'>Add &ldquo;<%= first_name %> <%= last_name %>&ldquo;</div>
<div class='list-item-timestamp'><%= attending %></div>
