= form_for @citybook_site do |f|
  - if @citybook_site.errors.any?
    #error_explanation
      %h2= "#{pluralize(@citybook_site.errors.count, "error")} prohibited this citybook_site from being saved:"
      %ul
        - @citybook_site.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
