- content_for :charts_js do
  .row
    .g6
      %h2= "#{@people_count} Engaged People"
      = area_chart [{name: 'Students', data: totalize(@students)}, { name: 'Teachers/Staff', data: totalize(@other_people) }], colors: Person::COLOR_ENUM
    .g6
      %h2= "#{@ppl_w_projects} People With Projects"
      = area_chart [{name: "Leaders", data: totalize(@people_leading_projects) }, {name: 'Supporters', data: totalize(@people_supporting_projects) }], colors: Project::COLOR_ENUM
  .row
    %h2 Weekly Engagements
    = area_chart [{name: "Coaching Sessions", data: @coaching_sessions }, {name: "Events", data: @events}, {name: "Meetings", data: @meetings }, {name: "Workshops", data: @workshops }], colors: Engagement::COLOR_ENUM

  .row
    %h2 Weekly Activity
    = area_chart @activity, library: { legend: {itemMarginBottom: 8 } }
