.new-registration
  %h1= "Welcome, #{@identity.first_name}."
  %p You may already be in the system. Please select the best match:
  - @candidates.each do |person|
    %p= person.try(:name)
    %p= person.try(:email)
    %p= person.try(:school).try(:name)
    %p= person.try(:site).try(:name)
    %p= image_tag person.avatar_url
