<figure>
  <a href="<%= asset.original %>" title="<%= asset.caption %>" target="_blank">
    <img src="<%= asset.thumbnail %>" alt="<%= asset.caption %>" />
  </a>
</figure>
<figcaption>
  <h3><%= asset.meta.creator %></h3>
  <p><%= asset.meta.subject %></p>
</figcaption>
