<div class="titlebar">
  <div class="title">Engagements</div>
  <div class="subtitle">&rsaquo; <%= engagement.name || engagement.kind %></div>
  <nav class='titlebar-actions'>
    <a href="/logbook/engagements/<%= engagement.id %>/edit">Edit</a>
  </nav>
</div>
<ul class="factbar">
  <li class="fact">
    <label>kind</label>
    <%= engagement.kind %>
  </li>
  <li class="fact">
    <label>Date</label>
    <%= engagement.date %>
  </li>
  <li class="fact">
    <label>Headcount</label>
    <%= engagement.headcount %>
  </li>
  <li class="fact">
    <label>Duration</label>
    <%= engagement.duration %> Hrs
  </li>
  <li class="fact">
    <label>School</label>
    <%= engagement.school_name %>
  </li>
</ul>
<% if (engagement.recap) { %>
<div class="section">
  <pre><%= engagement.recap %></pre>
</div>
<% } %>
</div>
<div class="section">
  <h2 class="section-header"><%= engagement.headcount %> Attendees</h2>
  <div id="attendees-table" class="table people-table"></div>
</div>
