<div class="titlebar">
  <a class="title" href="/logbook/engagements">Engagements</a>
  <div class="subtitle">&rsaquo; <%= engagement.name || engagement.kind %></div>
  <nav class='titlebar-actions'>
    <a href="/logbook/engagements/<%= engagement.id %>/edit">
      Edit
    </a>
  </nav>
</div>
<ul class="factbar">
  <li class="fact">
    <label>kind</label>
    <%= engagement.kind %>
  </li>
  <li class="fact">
    <label>Date</label>
    <%= ds.datesHelper.format(engagement.date) %>
  </li>
  <li class="fact">
    <label>Headcount</label>
    <%= engagement.headcount %>
  </li>
  <li class="fact">
    <label>Duration</label>
    <%= ds.datesHelper.printDuration(engagement.duration) %>
  </li>
  <li class="fact">
    <label>School</label>
    <%= engagement.school_name %>
  </li>
</ul>

<% if (engagement.description) { %>
<div class="section">
  <pre><%= ds.hashtagsHelper.linkify(engagement.description) %></pre>
</div>
<% } %>

<div class="section notes" id="notes">
  <h2 class="section-header">
    <%= engagement.notes.length %> Notes
    <a class='section-header-action' href="/logbook/engagements/<%= engagement.id %>/notes/add" title="Add a note">Add Note <span class='icon-add_circle_outline'></span></a>
  </h2>
  <div id="stickies" class="stickies"></div>
</div>

<div class="section">
  <h2 class="section-header">
    <%= engagement.projects.length %> Projects
  </h2>
  <div id="projects-table" class="projects-table table"></div>
</div>

<div class="footerbar">
  <nav class='r'>
    <a title="Create a new engagement, with the same attendees and info as this one" class="duplicate" href="/logbook/engagements/<%= engagement.id %>">
      Duplicate
    </a>
  </nav>
</div>

<div class="section">
  <h2 class="section-header"><%= engagement.headcount %> Attendees</h2>
  <div id="attendees-table" class="table people-table"></div>
</div>

