<div class="titlebar">
  <a class="title" href="/logbook/people">People</a>
  <div class="subtitle">&rsaquo; <%= person.first_name %> <%= person.last_name %></div>
  <nav class='titlebar-actions'>
    <a href="/logbook/people/<%= person.id %>/edit">Edit</a>
  </nav>
</div>
<ul class="factbar">
  <li class="fact">
    <label>Role</label>
    <%= person.role %>
  </li>
  <li class="fact">
    <label>Grade</label>
    <%= person.grade %>
  </li>
  <li class="fact">
    <label>Dream Team</label>
    <%= person.dream_team %>
  </li>
  <li class="fact">
    <label>School</label>
    <%= person.school_name %>
  </li>
</ul>
<div class="section">
  <h2 class="section-header">
    <%= person.projects.length %> Projects
    <a class='section-header-action projects-link' href="#" title="Add a project for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a>
  </h2>
  <div id="projects-table" class="table"></div>
</div>
<div class="section" id="notes">
  <h2 class="section-header">
    <%= person.notes.length %> Notes
    <a class='section-header-action' href="#" title="Add a note for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a>
  </h2>
  <div class="endless-row">
    <div class="note">
      <div class="note-date">2015-06-28</div>
      <div class="note-user">Chris Frank:</div>
      <div class="note-text">Est justo efficitur erat, quis tincidunt leo felis ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium nec neque eu porttitor. Duis a justo molestie, sagittis justo vitae</div>
    </div>
    <div class="note">
      <div class="note-date">2015-07-10</div>
      <div class="note-user">Chris Frank:</div>
      <div class="note-text">Fusce volutpat, risus non volutpat consectetur, est justo efficitur erat, quis tincidunt leo felis ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium nec neque eu porttitor. Duis a justo molestie, sagittis justo vitae</div>
    </div>
    <div class="note">
      <div class="note-date">2015-07-21</div>
      <div class="note-user">Chris Frank:</div>
      <div class="note-text">Donec ut tristique leo. Nullam tempor eleifend ante id eleifend. Fusce volutpat, risus non volutpat consectetur, est justo efficitur erat, quis tincidunt leo felis ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium nec neque eu porttitor. Duis a justo molestie, sagittis justo vitae</div>
    </div>
    <div class="note">
      <div class="note-date">2015-07-30</div>
      <div class="note-user">Chris Frank:</div>
      <div class="note-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tristique leo. Nullam tempor eleifend ante id eleifend. Fusce volutpat, risus non volutpat consectetur, est justo efficitur erat, quis tincidunt leo felis ac nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pretium nec neque eu porttitor. Duis a justo molestie, sagittis justo vitae</div>
    </div>
  </div>
</div>
<div class="section">
  <div id="engagement_bubbles_graph" class="graph">
    <div class="lb-loading"></div>
  </div>
</div>
<div class="section">
  <h2 class="section-header">
    <%= person.engagements.length %> Recent Engagements
    <a class='section-header-action engagements-link' href="#" title="Add a note for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a>
  </h2>
  <div id="engagements-table" class="table"></div>
</div>
