<div class="person-contact-card">
  <div class="person-avatar">
    <img src="<%= person.avatar %>" alt="<%= person.first_name %> <%= person.last_name %>" />
    <div class="upload-trigger">
      <span class="icon-camera_alt"></span>
      <input id="avatar-uploader" name='file' type='file' />
    </div>
  </div>
  <div class="person-info" >
    <h2 class="section-header">
      <%= person.first_name %> <%= person.last_name %>
    </h2>
    <ul class="person-details">
      <li class="fact">
        <label>E:</label>
        <%= person.email || "N/A" %>
      </li>
      <li class="fact">
        <label>P:</label>
        <%= person.phone || "N/A" %>
      </li>
    </ul>
    <div class="person-description">
      <textarea placeholder="Type a few sentences re: passions, skills, things you want to remember, etc" name='description'><%= person.description %></textarea>
    </div>
  </div>
</div>
