<div class="titlebar">
  <a class="title" href="/logbook/people">People</a>
  <div class="subtitle">&rsaquo; Profile for <%= person.first_name %> <%= person.last_name %></div>
  <nav class='titlebar-actions'>
    <a href="/logbook/people/<%= person.id %>/edit">Edit</a>
  </nav>
</div>
<ul class="factbar">
  <li class="fact">
    <label>Role</label>
    <%= person.role %>
  </li>
  <li class="fact">
    <label>Grade</label>
    <%= person.grade %>
  </li>
  <li class="fact">
    <label>Dream Team</label>
    <%= person.dream_team ? "Yep" : "Nope" %>
  </li>
  <li class="fact">
    <label>Future Fellow</label>
    <%= person.future_fellow ? "Yep" : "Nope" %>
  </li>
  <li class="fact">
    <label>Media Release</label>
    <%= person.ob_media_release ? "Yep" : "Nope" %>
  </li>
  <li class="fact">
    <label>Consent</label>
    <%= person.ob_parental_consent ? "Yep" : "Nope" %>
  </li>
  <li class="fact">
    <label>Disclaimer</label>
    <%= person.ob_disclaimer ? "Yep" : "Nope" %>
  </li>
</ul>
<div class="section" id="person-contact-card">
</div>
<div class="section">
  <h2 class="section-header">
    <%= person.projects.length %> Projects
    <!-- <a class='section-header-action projects-link' href="#" title="Add a project for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a> -->
  </h2>
  <div id="projects-table" class="table"></div>
</div>
<div class="section notes" id="notes">
  <h2 class="section-header">
    <%= person.notes.length %> Notes
    <a class='section-header-action' href="/logbook/people/<%= person.id %>/notes/add" title="Add a note for <%= person.first_name %>">Add Note <span class='icon-add_circle_outline'></span></a>
  </h2>
  <div id="stickies" class="stickies"></div>
</div>
<div class="section">
  <div id="engagement_bubbles_graph" class="graph">
    <div class="lb-loading"></div>
  </div>
</div>
<div class="section">
  <h2 class="section-header">
    <%= person.engagements.length %> Recent Engagements
    <!-- <a class='section-header-action engagements-link' href="#" title="Add an engagement for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a> -->
  </h2>
  <div id="engagements-table" class="table"></div>
</div>
