<div class="titlebar">
  <a class="title" href="/logbook/people">People</a>
  <div class="subtitle">&rsaquo; <%= person.first_name %> <%= person.last_name %></div>
</div>
<div class="section" id="person-contact-card"></div>
<div class="section">
  <h2 class="section-header">
    <%= person.projects.length %> Projects
    <!-- <a class='section-header-action projects-link' href="#" title="Add a project for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a> -->
  </h2>
  <div id="projects-table" class="projects-table table"></div>
</div>
<div class="section notes" id="notes">
  <h2 class="section-header">
    <%= person.notes.length %> Notes
    <a class='section-header-action' href="/logbook/people/<%= person.id %>/notes/add" title="Add a note for <%= person.first_name %>">Add Note <span class='icon-add_circle_outline'></span></a>
  </h2>
  <div id="stickies" class="stickies"></div>
</div>
<div class="section">
  <div id="engagement_bubbles_graph" class="graph">
    <div class="lb-loading"></div>
  </div>
</div>
<div class="section">
  <h2 class="section-header">
    <%= person.engagements.length %> Recent Engagements
    <!-- <a class='section-header-action engagements-link' href="#" title="Add an engagement for <%= person.first_name %>"><span class='icon-add_circle_outline'></span></a> -->
  </h2>
  <div id="engagements-table" class="table engagements-table"></div>
</div>
<div class="footerbar static">
  <nav class='r'>
    <a href="/logbook/people" class="destroy">Delete Person</a>
  </nav>
</div>
