<div class="titlebar">
  <a class="title" href="/logbook/people">People</a>
  <div class="subtitle">&rsaquo; <%= person.first_name %> <%= person.last_name %></div>
  <nav class='titlebar-actions'>
    <a href="/logbook/people/<%= person.id %>/edit">Edit</a>
  </nav>
</div>
<ul class="factbar">
  <li class="fact">
    <label>Role</label>
    <%= person.role %>
  </li>
  <li class="fact">
    <label>Grade</label>
    <%= person.grade %>
  </li>
  <li class="fact">
    <label>Dream Team</label>
    <%= person.dream_team %>
  </li>
  <li class="fact">
    <label>School</label>
    <%= person.school_name %>
  </li>
</ul>
<div class="section">
  <h2 class="section-header"><%= person.projects.length %> Projects</h2>
  <div id="projects-table" class="table"></div>
</div>
<div class="section">
  <div id="engagement_bubbles_graph" class="graph">
    <div class="lb-loading"></div>
  </div>
</div>
<div class="section">
  <h2 class="section-header"><%= person.engagements.length %> Recent Engagements</h2>
  <div id="engagements-table" class="table"></div>
</div>
