- if @task.errors.any?
  #error_explanation
    %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
    %ul
      - @task.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :action, 'What needs doing?'
  = f.text_field :action
.field
  = f.label :assignee_ids, "Who's gotta do it?"
  = f.select :assignee_ids, current_user.site.staff.collect {|p| [p.name, p.id]}, {}, multiple: true

