.panel.list-detail
  .panel-title
    %h1 Showing Task
    .l-menu= link_to "Back", cic_tasks_path
    .r-menu= link_to "Edit", edit_cic_task_path(@task)

  .panel-body.scrollable.pad
    %h1= @task.action
    - if @self_assigned_task
      %hr
      - if @self_assigned_task.complete
        = link_to "Mark Incomplete", toggle_cic_task_assignment_path(@self_assigned_task), class: 'warning button'
      -else 
        = link_to "Mark Complete", toggle_cic_task_assignment_path(@self_assigned_task), class: 'button'
      %hr
    %table
      %tr
        %th Completed By
        %th Waiting On
      %tr
        %td.completed
          = @task.task_assignments.completed.includes(:assignee).pluck(:first_name).join(", ")
        %td.pending
          = @task.task_assignments.pending.includes(:assignee).pluck(:first_name).join(", ")

