= form_for [:citybook, @person] do |f|
  - if @person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@person.errors.count, "error")} prohibited this person from being saved:"
      %ul
        - @person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :about
    = f.text_area :about
  .field
    = f.label :grade
    =f.select :grade, Person::GRADE_ENUM
  .field
    = f.label :role
    =f.select :role, Person::ROLE_ENUM
  .field
    = f.label :school_id, 'School'
    =f.select :school_id, current_user.schools.map{|s| [s.name, s.id] }
  .actions
    = f.submit 'Save'
