#sidebar
  %a.avatar{href: log_out_path}
    %img{src: current_user.avatar}/
  %ul.tabs
    = nav_link_to "<span class='mega-octicon octicon-dashboard'></span> Home", root_url
    = nav_link_to "<span class='mega-octicon octicon-organization'></span> People", people_path
    = nav_link_to "<span class='mega-octicon octicon-clippy'></span> Forms", "#"
    = nav_link_to "<span class='mega-octicon octicon-checklist'></span> Tasks", "#"
    = nav_link_to "<span class='mega-octicon octicon-pulse'></span> Stats", "#"
