!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=1024'}
  %body#l_application
    - if current_user
      #app_title_bar
        %h1= link_to "DreamOS", root_url
        .r-menu
          %ul
            %li= link_to "Log Out", log_out_url
            %li= image_tag(current_user.avatar_url)



    #main
      #flash
        - flash.each do |k, v|
          .flash{class: k}
            = v
      = yield

