!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all'
    %meta{name:"viewport", content: "width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0"}
    %meta{name:"robots", content:"noindex"}
    = csrf_meta_tags

  %body{class: params[:controller].parameterize }
    = yield
    // do not include scripts on sessions page
    - if params[:controller] != "sessions"
      = javascript_include_tag 'application'
      = render 'analytics'
