!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=1024'}
  %body#l_application
    #app
      =render "sidebar" if current_user
      #canvas=yield
      #flash
        - flash.each do |k, v|
          .flash{class: k}= v

