!!!
%html
  %head
    %title Blue Book
    = stylesheet_link_tag    'bluebook', media: 'all'
    = javascript_include_tag 'bluebook/bluebook'
    = csrf_meta_tags
    %meta{name:"apple-mobile-web-app-status-bar-style", content:"black-translucent"}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    %link{rel:"apple-touch-icon", sizes:"152x152", href: asset_path('icon-bluebook.png')}
  %body#bluebook{style: "background-image: url(#{asset_path 'grid.png' });" }
    #app
      #tabs
        .avatar= image_tag(current_user.avatar_url.gsub('sz=50','sz=100'))
        %nav
          .nav_link#to_stats
            .mega-octicon.octicon-pulse
          .nav_link#to_people
            .mega-octicon.octicon-organization

      #tab_targets
        #stats.tab_target
          .panel-frame
        #people.tab_target
          .list-frame
          .detail-frame

    :javascript
      Bluebook.initialize(#{JSON.dump( @js_data || {} )})
