!!!
%html
  %head
    %title Logbook
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
    %link{rel:"apple-touch-icon", href: asset_path('icon-arrow.png')}
  %body{class: params[:controller].gsub('/','_')}

    #header
      #home
        %h1= current_scope.name
      #filter-trigger
        %span.icon.icon-chevron-down
        Filter
      #search
        %label{for: 'search-field'}
          %span.icon.icon-search
        %input#search-field.typeahead{type: 'text', placeholder: "Search #{truncate current_scope.name}"}

    #tabs
      %a{href: logbook_root_url }
        =image_tag asset_path('tfplogo.svg'), alt: 'The Future Project'
      %ul.tabs
        = nav_link_to "Overview", logbook_root_url(scope_params), "ds-dashboard"
        = nav_link_to "People", logbook_people_path(scope_params), "ds-people"
        = nav_link_to "Projects", logbook_projects_path(scope_params), "ds-projects"
        = nav_link_to "Engagements", logbook_engagements_path(scope_params), "ds-engagements"
      #user
        %a{href: log_out_path}
          .octicon.octicon-sign-out
          .label Log Out

    #filters
      =render 'filters'
    #yield= yield
    #global-add= render 'global_add'
    - flash.each do |k, v|
      .flash{class: k}
        .message= v

    :javascript
      window.ds = window.ds || {}
      ds.CONSTANTS = #{JSON.dump( @js_data || {} )}
    = javascript_include_tag 'logbook/logbook'
    /= render 'analytics'
