!!!
%html
  %head
    %title= "Logbook | #{params[:controller].split('/').last.capitalize}"
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
    %link{rel:"apple-touch-icon", href: asset_path('icon-arrow.png')}
    :javascript
      window.ds = window.ds || {}
      ds.CONSTANTS = #{JSON.dump( @js_data || {} )}
    = javascript_include_tag 'logbook/logbook'
  %body{class: page_classes}

    - cache ['v1/header', current_scope] do
      #header
        #filter-trigger
          %h1
            = current_scope.name
            %span.icon.icon-chevron-down
        #search
          %label{for: 'search-field'}
            %span.icon.icon-search
          %input#search-field.typeahead{type: 'text'}

    - cache 'v1/tabs' do
      #tabs
        %a{href: logbook_root_url, data: { unscoped: true } }
          =image_tag 'tfplogo.svg', alt: 'The Future Project'
        %ul.tabs
          = nav_link_to "Overview", logbook_root_url, "ds-dashboard"
          = nav_link_to "People", logbook_people_path, "ds-people"
          = nav_link_to "Engagements", logbook_engagements_path, "ds-engagements"
          = nav_link_to "Projects", logbook_projects_path, "ds-projects"
        #user
          %a{href: log_out_path}
            .icon.icon-sign-out
            .label Log Out

    #filters
      =render 'filters'

    #yield= yield

    #global-add= render 'global_add'
    - flash.each do |k, v|
      .flash{class: k}
        .message= v

    - cache 'v1/analytics', skip_digest: true do
      = render 'analytics'
