!!!
%html
  %head
    %title= "Logbook | #{params[:controller].split('/').last.capitalize}"
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
    %link{rel:"apple-touch-icon", href: asset_path('icon-arrow.png')}
    :javascript
      window.ds = window.ds || {}
      ds.CONSTANTS = #{JSON.dump({
          current_user: current_user.as_json(include: :school),
          scope: current_scope.as_json,
          sites: National.scopes.as_json,
          schools: current_scope.schools.order(:name).as_json
        })
      }
  %body
    #nav
      %h1 Logbook
      %section#scope-toggle
        %header
          Current Scope
        #current-scope-indicator --

      %section#scope-menu
        #sites
          %header Cities
          %ul#sites-list
        #schools
          %header Schools
          %ul#schools-list
      %header Navigation
      %ul.tabs
        %li= link_to "Dashboard", logbook_root_url
        %li= link_to "People", logbook_people_path
        %li= link_to "Engagements", logbook_engagements_path
        %li= link_to "Projects", logbook_projects_path

      #user
        =image_tag current_user.avatar
        .current-user-name= current_user.name
        %a{href: log_out_path}
          Log Out

    #yield= yield

    /#global-add= render 'global_add'

    - cache 'v1/analytics', skip_digest: true do
      = render 'analytics'

  = javascript_include_tag 'logbook/logbook'
