!!!
%html
  %head
    %title= "Logbook | #{params[:controller].split('/').last.capitalize}"
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
    %link{rel:"apple-touch-icon", href: asset_path('icon-arrow.png')}
    :javascript
      window.ds = window.ds || {}
      ds.CONSTANTS = #{JSON.dump( @js_data || {} )}
  %body{class: page_classes}

    #nav
      %h1 Logbook
      %section#scope-nav
        %header
          Current Scope
        #current-scope-indicator National

      %header Navigation
      %ul.tabs
        = nav_link_to "Dashboard", logbook_root_url, "ds-dashboard"
        = nav_link_to "People", logbook_people_path, "ds-people"
        = nav_link_to "Engagements", logbook_engagements_path, "ds-engagements"
        = nav_link_to "Projects", logbook_projects_path, "ds-projects"

    #user
      =image_tag current_user.avatar
      .current-user-name= current_user.name
      %a{href: log_out_path}
        Log Out

    #yield= yield

    /#global-add= render 'global_add'

    - cache 'v1/analytics', skip_digest: true do
      = render 'analytics'

  = javascript_include_tag 'logbook/logbook'
