!!!
%html
  %head
    %title= "Logbook | #{page_title}"
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
    %link{rel:"apple-touch-icon", href: asset_path('icon-arrow.png')}
    :javascript
      window.ds = window.ds || {}
      ds.CONSTANTS = #{JSON.dump({
          current_user: current_user.as_json(include: :school),
          scope: current_scope.as_json,
          beginning_of_school_year: beginning_of_school_year.strftime("%Y-%m-%d")
        })
      }
  %body
    #nav
      %section#app-name
        %h1=link_to "Logbook", logbook_root_url
      %section#scope-toggle
        %header
          Current Scope
        #current-scope-indicator --

      %section#scope-menu
        #sites
          %header Cities
          =link_to "National", "/logbook/set_scope?scope_id=0&scope_type=national"
          %ul#sites-list
        #schools
          %header Schools
          %ul#schools-list
      %section#app-sections
        %header Navigation
        %ul
          = nav_link_to "Dashboard", "/logbook", "logbook_dashboard"
          = nav_link_to "People", "/logbook/people", "logbook_people"
          = nav_link_to "Engagements", "/logbook/engagements", "logbook_engagements"
          = nav_link_to "Projects", "/logbook/projects", "logbook_projects"
          = nav_link_to "Weekly Reports", "#", "clipboard"

      %section#search
        %header Search
        #search-trigger.link-icon.icon-search
        %input#search-input{type: 'text', name: 'q'}

      #global-add-trigger.icon-add_circle_outline
      #user

    #yield= yield
    #time-filter
      %select#time-filter-menu
        %option{value: 'this_school_year'}this school year
        %option{value: 'past_two_weeks'}past two weeks
        %option{value: 'past_month'}past month
        %option{value: 'past_three_months'}past three months
        %option{value: 'this_time_last_year'}this time last year
        %option{value: 'dawn_of_time'}dawn of time
      #time-filter-trigger.icon-event

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-35246062-6', 'auto');
      ga('send', 'pageview');

    = javascript_include_tag 'logbook/logbook'
