!!!
%html
  %head
    %title Logbook
    = stylesheet_link_tag    'logbook/logbook', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
  %body

    #header
      #home
        =link_to "Logbook", logbook_set_scope_path
        = current_scope.name
      #filters= render 'filters'

    #flash
      - flash.each do |k, v|
        .flash{class: k}
          .message= v
    #tabs
      %a{href: logbook_set_scope_path}
        =image_tag asset_path('tfplogo.svg'), alt: 'The Future Project'
      %ul.tabs
        = nav_link_to "<div class='octicon octicon-rss'></div> Activity", logbook_root_url
        = nav_link_to "<div class='octicon octicon-organization'></div> People", logbook_people_path
        = nav_link_to "<div class='octicon octicon-paintcan'></div> Projects", logbook_projects_path
        = nav_link_to "<div class='octicon octicon-pulse'></div> Engagements", logbook_engagements_path
        = nav_link_to "<div class='octicon octicon-globe'></div> Schools", logbook_schools_path
      #user
        %a{href: log_out_path}
          .octicon.octicon-sign-out
          .label Log Out

    #yield= yield

    = javascript_include_tag 'logbook/logbook'
    = render 'analytics'
