!!!
%html
  %head
    %title Dream
    = stylesheet_link_tag    'my', media: 'all'
    %meta{name:"viewport", content: "width=1024"}
    = csrf_meta_tags
  %body#l_my
    = yield
    .navbar.navbar-horizontal
      .logo= image_tag asset_path('tfplogo.svg')
      -if current_user
        .current-user
          = "Hi, #{current_user.first_name}."
          = link_to "Log out", log_out_path
    = javascript_include_tag 'application'
